$primary-color-1: #47ffa5;
$primary-color-2: #e366ff;
$secondary-color-1: #ffffff;
$secondary-color-2: #181818;
$bg-color: #070707;

$main-heading-desktop: 64px;
$sub-heading-desktop: 20px;
$main-heading-mobile: 32px;
$sub-heading-mobile: 12px;

$main-padding: 10px;
$section-padding: 60px;

@mixin Flex {
  display: flex;
  align-items: center;
}

/* Layouts */
.header {
  width: 100%;
  height: 50px;
  padding: $main-padding;
  .container {
    @include Flex;
    justify-content: space-between;
    .logo {
      max-width: 120px;
      max-height: 60px;
      cursor: pointer;
    }
    .navgation {
      @include Flex;
      justify-content: center;
      li {
        padding-inline: 20px;
        cursor: pointer;
        &:hover {
          color: $primary-color-1;
        }
      }
    }
    .social {
      @include Flex;
      justify-content: space-between;
      margin-right: 30px;
      svg {
        font-size: 22px;
        margin-inline: 5px;
        cursor: pointer;
        &:hover {
          color: $primary-color-1;
        }
      }
    }
  }
}

.copyrights {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* Home Page */

.landing {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  .intro {
    @include Flex;
    justify-content: center;
    .heading {
      margin: 50px;
      h1 {
        font-size: $main-heading-desktop;
        font-weight: bold;
        line-height: 80px;
        margin-bottom: 10px;
        span {
          color: $primary-color-2;
        }
      }
      h4 {
        font-size: $sub-heading-desktop;
        padding-block: $main-padding;
      }
    }
  }
  .card {
    background-color: $bg-color;
    border: solid 30px $secondary-color-2;
    font-size: 20px;
    padding: 10px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
    p {
      padding: 5px;
      text-align: left;
      span {
        float: right;
      }
    }
  }
}

div {
  .inputs {
    @include Flex;
    justify-content: flex-start;
    margin-inline: 50px;
    margin-top: -120px;
    input {
      background-color: $secondary-color-2;
      border: none;
      outline: none;
      border-radius: 25px;
      padding: 10px;
      text-align: left;
      width: 400px;
      text-indent: 40px;
      color: $secondary-color-1;
      &:focus {
        box-shadow: 0 0 10px $secondary-color-1;
      }
    }
    button {
      background-color: $primary-color-1;
      padding: $main-padding;
      border-radius: 25px;
      text-align: center;
      border: none;
      cursor: pointer;
      width: 100px;
      margin-inline: 10px;
      &:hover {
        background-color: #00f77e;
      }
    }
  }
  .validation {
    color: #ff0000;
    padding: 10px;
    padding: 10px;
    margin-left: 50px;
  }
}

/* About Page */
main {
  .headings {
    padding-top: $section-padding;
    padding-bottom: 30px;
    @include Flex;
    flex-direction: column;
    justify-self: center;
    line-height: 1.5;
    h3,
    h6 {
      font-weight: normal;
    }
  }
  .grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    ul {
      margin-left: 30%;
      list-style-type: disc;
      padding: 30px;
      h2 {
        margin-bottom: 10px;
      }
    }
    .credit {
      text-align: center;
      h4 {
        margin-top: 20px;
      }
    }
  }
  @media (max-width: 700px) {
    .grid {
      grid-template-columns: 1fr;
      ul {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding-top: 0;
      }
    }
  }
}
